.app-body {
    min-height: calc(100vh - 2.53rem);
}

.app-content {
    padding: 2rem 1rem;
}

.app-header {
    .navbar-brand {
        :first-child {
            padding-top: 0;
            padding-bottom: 0;
            img {
                max-height: 2.5rem;
            }
        }
    }
}